# Import library

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

In [4]:
mapping = pd.read_csv("data/linkedin_to_isic_rev_4_industry_mapping_0.csv")
employment = pd.read_excel("data/public_use-industry-employment-growth.xlsx")
skills_needs = pd.read_excel("data/public_use-industry-skills-needs.xlsx")
skill_penetration = pd.read_excel("data/public_use-skill-penetration.xlsx")
country_migration = pd.read_excel("data/talent_migration/country_migration.xlsx")
industry_migration = pd.read_excel("data/talent_migration/industry_migration.xlsx")
skill_migration = pd.read_excel("data/talent_migration/skill_migration.xlsx")

In [6]:
mapping.head(2)

,isic_section,isic_section_name,isic_division,isic_division_name,industry_sk,industry_name,Industry_group_sk,Industry_group_name
0,A,A. Agriculture; forestry and fishing,1,"Crop and animal production, hunting and relate...",63,farming,1,Agriculture
1,A,A. Agriculture; forestry and fishing,1,"Crop and animal production, hunting and relate...",64,ranching,1,Agriculture

# Analysis